.basket__cards-missed {
    width: 891px;
    padding: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1399.9px) {
    .basket__cards-missed {
        width: 640px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .basket__cards-missed {
        width: 288px;
    }
}
