@media screen and (min-width: 320px) and (max-width: 1023.9px) {

}

.basket {
    margin: 0 24px;
    padding: 24px 0;
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .basket {
        margin: 0 16px;
    }
}

.basket__header {
    color: rgba(0, 0, 0, 1);
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 128.571% */
    letter-spacing: -0.28px;
    padding: 10px 0 27px 0;
    margin: 0;
}

.basket__check-all {
    display: flex;
    flex-direction: row;
}

.basket__check-all_hide {
    display: none;
}

.basket-image-box {
    position: relative;
}

.basket__size-small {
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .basket__size-small {
        display: block;
        position: absolute;
        left: 4px;
        top: 88px;
        color: rgba(0, 0, 0, 1);
        text-align: center;
        font-family: Segoe UI;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        width: 22px;
        height: 22px;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 6px;
    }
    
    .basket__size-small_hidden {
        display: none;
    }
}

.basket__label {
    min-width: 22px;
    height: 22px;
    display: block; 
    position: relative;
    z-index: 2;
}

.basket__label_card {
    margin: 49.5px 12px 0 0;
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .basket__label_card  {
        margin: 0;
        position: absolute;
        top: 16px;
        left: 4px;
    }
}

.basket__checkbox {
    display: none;
}

.basket__checkbox + span {
    position: absolute;
    left: 0; top: 2px;
    width: 100%;
    height: 100%;
    background: url(../../images/checkbox.svg) no-repeat;
    cursor: pointer;
}

.basket__checkbox:checked + span {
    background-position: 0 -22px;
}

.basket__check-text {
    color: rgba(0, 0, 0, 1);
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-left: 11px;
}

.basket__cards {
    padding: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 891px;
}

@media screen and (min-width: 1024px) and (max-width: 1399.9px) {
    .basket__cards {
        width: 640px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .basket__cards {
        border-top: none;
        width: 288px;
    }
}

.basket__cards-missed {
    width: 891px;
    padding: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1399.9px) {
    .basket__cards-missed {
        width: 640px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .basket__cards-missed {
        width: 288px;
    }
}

.basket__card {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .basket__card {
        position: relative;
        display: flex;
        flex-direction: column;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.basket__box {
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .basket__box:nth-child(2) {
        margin-top: 20px;
    }
}

.basket__card:first-child {
    margin-top: 16px;
}

.basket__card-info {
    display: flex;
    flex-direction: column;
    margin: 12px 268px 0 16px;
    width: 275px;
    height: auto;
}

@media screen and (min-width: 1024px) and (max-width: 1399.9px) {
    .basket__card-info {
        margin: 12px 17px 0 16px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .basket__card-info {
        margin: 0;
        padding-left: 16px;
        max-width: 192px;
    }
}

.basket__card-info_missed {
    margin: 12px 302px 0 16px;
}

@media screen and (min-width: 1024px) and (max-width: 1399.9px) {
    .basket__card-info_missed {
        margin: 12px 56px 0 16px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .basket__card-info_missed {
        margin: 12px 0 0 0;
    }
}

.basket__card-header {
    margin: 0;
    color: rgba(0, 0, 0, 1);
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    width: 275px;
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .basket__card-header {
        max-width: 192px;
        max-height: 40px;
        color: var(--text-black, #000);
        font-family: Segoe UI;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow:hidden;
    }
}

.basket__color {
    color: rgba(0, 0, 0, 1);
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
    width: 275px;
}

.basket__size {
    color: rgba(0, 0, 0, 1);
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
    width: 275px;
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .basket__size {
        display: none;
    }
}

.basket__storage {
    color: rgba(160, 160, 164, 1);
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
    width: 275px;
}

.basket__seller {
    color: rgba(160, 160, 164, 1);
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
    width: 275px;
}

.basket__image {
    width: 72px;
    height: 96px;
    border-radius: 8px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin-top: 12px;
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .basket__image {
        width: 80px;
        height: 106px;
    }
}

.basket__image_missed {
    filter: grayscale(100%);
}

.basket__card-box_2 {
    display: flex;
    flex-direction: column;
}

.basket__button-box {
    margin: 9px 16px 0 0;
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .basket__button-box {
        margin: 0;
        display: flex;
        flex-direction: row;
    }
}

.basket__quantity-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    width: 100px;
    height: 44px;
    margin-bottom: 8px;
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .basket__button-box {
       width: 80px;
    }
}

.basket__quantity-btn {
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: -0.2px;
    width: 24px;
    padding: 2px 7px 6px 8px;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.basket__quantity-btn:disabled {
    color: rgba(0, 0, 0, 0.2);
}

.basket__buy-quantity {
    width: 44px;
    height: 23px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .basket__like-box {
        width: 88px;
        align-self: center;
    }

    .basket__like-box_missed {
        min-width: 288px;
    }
}

.basket__like-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    width: 100px;
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .basket__like-box {
        width: 88px;
        align-self: center;
    }
}

.basket__like {
    background: url(../../images/icon-20.svg) no-repeat;
    background-position: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: none;
    margin-right: 16px;
}

.basket__like_active {
    background: url(../../images/Union.svg) no-repeat;
}

.basket__delete {
    background: url(../../images/bin.svg) no-repeat;
    background-position: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: none;
}

.basket__price-box {
    display: flex;
    margin-top: 9px;
    flex-direction: column;
    align-items: flex-end;
    min-width: 120px;
    width: 100%;
}

.basket__price-box_small {
    display: none;
}



@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .basket__price-box_small {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .basket__price-box_big {
        display: none;
    }
    
}

.basket__price {
    color: rgba(0, 0, 0, 1);
    text-align: right;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    letter-spacing: -0.2px;
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .basket__price {
        font-size: 16px;
        line-height: 24px; /* 150% */
    }
}

.basket__full-price {
    color: rgba(160, 160, 164, 1);
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
    text-decoration: line-through;
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .basket__full-price  {
        margin-left: 5px;
    }
}

.basket__mistake {
    color: rgba(245, 81, 35, 1);
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .basket__mistake  {
        margin: 0 24px 0 16px;
        min-width: 88px;
        align-self: center;
    }
}
