.basket__image {
    width: 72px;
    height: 96px;
    border-radius: 8px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin-top: 12px;
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .basket__image {
        width: 80px;
        height: 106px;
    }
}
