.header {
    display: flex;
    flex-direction: row;
    margin: 16px 24px;
}

.header__button {
    width: 48px;
    height: 48px;
    background-image: url(../../images/burgermenu.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 28px 24px;
    background-position: center;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.45);
}

.header__header {
    color: rgba(255, 255, 255, 1);
    font-family: Segoe UI;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 85.714% */
    font-variant: all-small-caps;
    letter-spacing: 0.56px;
    width: 106px;
    margin: 0 32px 0 16px;
}

.header__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 970px;
    height: 48px;
    border-radius: 36px;
    background: rgba(255, 255, 255, 0.20);
}

.header__search-input {
    padding: 0;
    width: 898px;
    height: 24px;
    margin: 0px 8px 0px 20px;
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 1);
    font-family: Segoe UI;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
}

.header__search-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-family: Segoe UI;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
}

.header__search-button {
    padding: 0;
    width: 24px;
    height: 24px;
    background-image: url(../../images/Search.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 28px 24px;
    background-position: center;
    border: none;
    margin: 0 20px 0 0;
    cursor: pointer;
}

.header__link {
    width: 56px;
    height: 56px;
    cursor: pointer;
    margin: 0;
    display: block;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
}

.header__link_profile {
    margin-left: 32.5px;
}

.header__link_bucket {
    margin-left: 43px;
}

.header__span {
    display: block;
    height: 28px;
    position: relative; 
    background-position: center;
    background-size: 28px 28px;
    background-repeat: no-repeat;
}

.header__span_profile {
    background-image: url(../../images/icon-28.svg);
}

.header__span_bucket {
    background-image: url(../../images/icon-29.svg);
}

.header__span-number {
    display: inline-block;
    position: absolute;
    top: -6px;
    right: -4px;
    padding: 0 2px;
    width: 12px;
    background-color: rgba(245, 81, 35, 1);
    border-radius: 16px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-family: Segoe UI;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 180% */
}