.basket__size-small {
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .basket__size-small {
        display: block;
        position: absolute;
        left: 4px;
        top: 88px;
        color: rgba(0, 0, 0, 1);
        text-align: center;
        font-family: Segoe UI;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        width: 22px;
        height: 22px;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 6px;
        z-index: 1;
    }
}
