.delivery__button {
    border: none;
    background: none;
    color: rgba(203, 17, 171, 1);
    text-align: right;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .delivery__button {
        padding: 0;
    }
}
