.header__link {
    width: 56px;
    height: 56px;
    cursor: pointer;
    margin: 0;
    display: block;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {    
    .header__link  {
        display: none;
    }
}
