.buyer__input_contacts {
    width: 217.3px;
}

@media screen and (min-width: 1024px) and (max-width: 1399.9px) {
    .buyer__input_contacts {
        width: 180.6px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .buyer__input_contacts {
        width: 288px;
    }
}
