@font-face {
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    src: url('SegoeUI.eot');
    src: local('Segoe UI'), local('SegoeUI'),
        url('SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('SegoeUI.woff2') format('woff2'),
        url('SegoeUI.woff') format('woff'),
        url('SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}