.page{
    width: 100%;
    max-width: 1400px;
    background-color: #6725A8;
    margin: auto;
}

@media screen and (min-width: 1024px) and (max-width: 1399.9px){
    .page{
        max-width: 1024px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023.9px){
        .page{
            max-width: 320px;
    }
}