.basket__mistake {
    color: rgba(245, 81, 35, 1);
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .basket__mistake  {
        margin: 0 24px 0 16px;
        min-width: 88px;
        align-self: center;
    }
}
