.header__span-number {
    display: inline-block;
    position: absolute;
    top: -8px;
    right: 3px;
    padding: 0 2px;
    width: 12px;
    background-color: rgba(245, 81, 35, 1);
    border-radius: 16px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 180% */
}
