.delivery__header {
    color: rgba(0, 0, 0, 1);
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.24px;
    width: 755px;
}

@media screen and (min-width: 1024px) and (max-width: 1399.9px) {
    .delivery__header {
        width: 502px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .delivery__header {
        width: 190px;
        font-size: 20px;
        line-height: 28px; /* 140% */
        letter-spacing: -0.2px;
    }
}
