.result__header-span {
    color: rgba(0, 0, 0, 1);
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.24px;
}
