.payment__header-box {
    display: flex;
    margin: 0 24px 16px 24px;
    width: 843px;
}

@media screen and (min-width: 1024px) and (max-width: 1399.9px) {
    .payment__header-box {
        width: 590px;
        margin: 0 0 16px 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .payment__header-box {
        width: 288px;
        display: flex;
        flex-direction: row;
    }
}
