@media screen and (min-width: 320px) and (max-width: 1023.9px) {
}

.delivery {
    display: flex;
    padding: 16px 0px 24px 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    width: 891px;
    margin: 0 32px 0 24px;
}

@media screen and (min-width: 1024px) and (max-width: 1399.9px) {
    .delivery {
        width: 638px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .delivery {
        width: 320px;
        margin: 0;
    }
}

.delivery__header-box {
    width: 843px;
}

@media screen and (min-width: 1024px) and (max-width: 1399.9px) {
    .delivery__header-box {
        width: 590px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .delivery__header-box {
        width: 288px;
        display: flex;
        flex-direction: row;
    }
}

.delivery__header {
    color: rgba(0, 0, 0, 1);
    font-family: Segoe UI;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.24px;
    width: 755px;
}

@media screen and (min-width: 1024px) and (max-width: 1399.9px) {
    .delivery__header {
        width: 502px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .delivery__header {
        width: 190px;
        font-size: 20px;
        line-height: 28px; /* 140% */
        letter-spacing: -0.2px;
    }
}

.delivery_button {
    border: none;
    background: none;
    color: rgba(203, 17, 171, 1);
    text-align: right;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .delivery_button {
        padding: 0;
    }
}

.delivery__table {
    margin: 0 24px 0 24px;
    max-width: 843px;
}

@media screen and (min-width: 1024px) and (max-width: 1399.9px) {
    .delivery__table {
        max-width: 590px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .delivery__table {
        width: 288px;
    }
}

.delivery__box {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .delivery__box {
        flex-direction: column;
        margin-bottom: 0;
    }
}

.delivery__header-6 {
    margin: 0;
    color: var(--text-black, #000);
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    height: 44px;
    margin: 0 78px 16px 0;
    min-width: 153px;
}

.delivery__adress {
    width: 682px;
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
    .delivery__adress {
        width: 288px;
    }
}

.delivery__text {
    color: var(--text-black, #000);
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.delivery__span {
    color: var(--text-black, #000);
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
}

.delivery__cards {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.delivery__image-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 8px;
}

.delivery__card-image {
    position: relative;
}

.delivery__image {
    width: 40px;
    height: 56px;
}

.delivery__box_2 {
    margin-top: 8px;
    display: flex;
    align-items: center
}

.delivery__text_2 {
    margin-left: 8px;
}

.delivery__free {
    color: rgba(12, 180, 119, 1);
}

.delivery__quantity {
    display: inline-block;
    position: absolute;
    top: -8px;
    right: -4px;
    padding: 0 2px;
    width: 12px;
    background-color: rgba(245, 81, 35, 1);
    border-radius: 16px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-family: Segoe UI;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 180% */
}

.delivery__quantity_hidden {
    display: none;
}